@font-face {
    font-family: "FreePixel";
    src: url("/assets/fonts/FreePixel.ttf") format("truetype");
}

:root {
    --background: #0e121a;
    --main-colour: #5417EF;
    --main-colour-dark: #310A94;
    --accent-1: #ABE810;
    --accent-2: #E8103F;
    --content-spacing:5px;
    --background-img:url("/assets/images/azulestrellas.gif");
    --banner:url("/assets/images/banner.png");
    --titleBars:url("/assets/images/bar.png");
    --text-colour: white;
    --link-colour:var(--accent-1);
    --border:1px solid black;
    --arrows:url("/assets/images/arrow.png");
    --dot:url("/assets/images/dot.png");
}

html,
body{
    margin: 0;
    box-sizing: border-box;
    font-family: "FreePixel";

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

h1{
    margin-top:10px;
    margin-bottom:0;
}

.topHeader{
    margin-top:0;
}

body{
    background-image:var(--background-img);
    color:var(--text-colour);
    background-attachment: fixed;
}

ul{
    list-style-image:var(--dot);
    padding-left: 12px;
    margin-top:0;
    margin-bottom:0;
}

content p.update img{
    width:100%;
    padding-top:3px;
    height:auto;
}

content img{
    width:100%;
    padding-top:3px;
    height:auto;
}

.marquee img{
    width:auto;
    height:auto;
}

.marquee{
    width:auto;
    position: relative;
    overflow:hidden;
    white-space:nowrap;
    padding-bottom:2px;
    height: 31px;
}

.marquee-track {
    display:inline-flex;
    width:max-content;
    flex-shrink:0;
    animation:marquee-scroll 10s linear infinite;
}

.marquee-track a {
    display:inline-block;
}

nav .marquee{
    position:absolute;
    top:auto;
    bottom:0px;
}

@keyframes marquee-scroll {
    0%   {transform:translateX(0);}
    100% {transform:translateX(-50%);}
}


.topbar{
    background-image:var(--banner);
    height:150px;
    margin-bottom:var(--content-spacing);
}

#container,
.topbar img{
    max-width:850px;
    margin:0 auto;
}

#container a{
    color: var(--link-colour);
    margin: 0 auto;
}

#container p{
    margin: 0 auto;
}

#container{
    border-top: none;
}

#flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 850px;
}

aside{
    width: 30%;
    position:relative;
    margin-left: var(--content-spacing);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title, .sidebar-title{
    background-image: var(--titleBars);
    font-weight: bold;
    margin-top:var(--content-spacing);
    border:var(--border);
    font-size: 20px;
}

main{
    width: 74%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink:0;
    bottom:0;
}

nav{
    position: sticky;
    padding-right: 10px;
    overflow-x: hidden;
    height:100%;
}

nav ul{
    list-style-image:var(--arrows);
    margin-top:5px;
    margin-bottom:5px;
    margin-left: 0;
    padding-left: 30px;
}

nav ul li a{
    color:var(--accent-1);
}

content,#navi{
    background-color: var(--background);
    padding:15px;
    padding-top:10px;
    border:var(--border);
}

content:last-of-type{
    flex-grow: 1;
    bottom:0;
}

#navi{
    position: sticky;
    position: -webkit-sticky;
    padding:0;
    flex:1;
    flex-grow:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.update{
    border:2px dashed var(--main-colour);
    margin:5px !important;
    padding:10px;
}

footer{
    border:var(--border);
    height:25px;
    margin-top:var(--content-spacing);
    background-image: var(--titleBars);
    text-align: center;
}

button {
    background-image:var(--titleBars);
    border:var(--border);
    color:white;
    margin-bottom:10px;
}
th {
    color:var(--accent-2);
}
h2 {
    margin-top:0px;
    margin-bottom:5px;
    color:var(--accent-2);
}

@media only screen and (max-width: 640px) {
    nav ul {
        display:none;
    }
}